{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Paint like Pollock</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/StyleSheet1.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>{{ title }}</h2>
<br />
<br />
<address>
    <center>
        <h4>
            <strong>Support:&emsp; </strong><a href="mailto:techadvisor779@gmail.com">techadvisor779@gmail.com</a>
        </h4>
    </center>
</address>

{% endblock %}
