
{% extends "layout.html" %}

<head>
    
</head>
{% block content %}
<body>
    <h1><b>Meet the Artists</b></h1>
    <div class="column3">
        <section>
            <h2>Jackson Pollock</h2>
            <img src="https://m.media-amazon.com/images/M/MV5BNzc2YzNlYzctMWE3Yy00NjRjLWEyYWUtNmY4YThjMjc3Yjk1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_.jpg" width=120px height=150px;">
            <p>Born: January 28, 1912</p>
            <p>Died: August 11, 1956</p>
            <p>
                Paul Jackson Pollock was an American painter and a major figure in the abstract expressionist movement. He was widely noticed for his "drip technique" of pouring or splashing liquid household paint onto a horizontal surface, enabling him to view and paint his canvases from all angles
                <a href="https://en.wikipedia.org/wiki/Jackson_Pollock">...more</a>
            </p>

        </section>
    </div>
    <div class="column3">
        <section>
            <h2> &emsp;Piet Mondrian</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Piet_Mondriaan.jpg" width=120px height=150px;">
            <p>Born: March 7, 1872</p>
            <p>Died: February 1, 1944</p>
            <p>
                Pieter Cornelis Mondriaan was a Dutch painter and art theoretician who is regarded as one of the greatest artists of the 20th century. He is known for being one of the pioneers of 20th-century abstract art, as he changed his artistic direction from figurative painting to an increasingly abstract style, until he reached a point where his artistic vocabulary was reduced to simple
                <a href="https://en.wikipedia.org/wiki/Piet_Mondrian">...more</a>
            </p>
        </section>
    </div>
    <div class="column3">
        <section>
            <h2> &emsp;Claude Monet</h2>
            <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcS9cumAy4tq60h12fAPA8RnQgMxQakJHgeKgJpDAcge2UeAaoqMbJNzf361oSfk04q2" width=120px height=150px;">
            <p>Born: November 14, 1840</p>
            <p>Died: December 5, 1926</p>
            <p>
                Oscar-Claude Monet was a French painter and founder of impressionist painting who is seen as a key precursor to modernism, especially in his attempts to paint nature as he perceived it. The term "Impressionism" is derived from the title of his painting Impression, soleil levant, exhibited in the 1874 initiated by Monet and his associates as an alternative to the Salon
                <a href="https://en.wikipedia.org/wiki/Piet_Mondrian">...more</a>
            </p>
        </section>
    </div>
</body>
{% endblock %}
https://en.wikipedia.org/wiki/Claude_Monet
